@import url('https://fonts.googleapis.com/css2?family=Amiri:wght@700&display=swap');
*{
  box-sizing:border-box;
  margin:0;
  padding: 0; 
  font-family:' Amiri Encode Sans Expanded Roboto', sans-serif;
  font-family: 'Amiri', serif;
}
.LoginFormTitle { color: #fff; text-shadow: 0 0 10px rgba(0,0,0,0.3); letter-spacing:1px; text-align:center; }
.register h1 { color: #fff; text-shadow: 0 0 10px rgba(0,0,0,0.3); letter-spacing:1px; text-align:center; }
.LoginFormText{  color: #fff; text-shadow: 0 0 10px rgba(0,0,0,0.3);}
.LoginLogo{
  width:250px;
height:250px;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

.onHover:hover{
  cursor: pointer;
}